@charset "utf-8";
/* CSS Document */
body,h3,p{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
a{color:#007bc4/*#424242*/; text-decoration:none;outline: none;}
a:hover{text-decoration:underline}

body{font:14px "Microsoft Yahei"; color:#51555C;}







